@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

.button{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 180px;
    height: 51px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2px;
    border: none;
    cursor: pointer;
}

.button a{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15pt;
}