@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&display=swap');

.writeFrame {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    width: 93%;
    height: 100%;
    border: none;
    font-family: 'Roboto Mono', monospace;
    resize: none;
    outline: none;
    background: #B9D9EB;
    font-size: 15px;
    overflow-y: scroll;
}
  .readFrame{
    align-content: unset;
    background: #B9D9EB;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: 93%;
    height: 100%;
    overflow:auto;
    border: none;
    text-align: left;
    overflow-wrap: break-word;
  }

  .writePanel{
    font-size: 20px;
    height: 98%;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }

  .readFrame p{
    font-size: 90%;
    line-height: 190%;
  }

  .read-sub{
    text-align: right;
    width: 95%;
    color: #B9D9EB;
    font-size: 14pt;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .read-sub a, .read-sub span{
    cursor: pointer;
  }