@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
html,body { height:90%; }

*{
  transition: 1s;
}

body {
  background-color: #253746;
  text-align: center;  
  font-family: 'Source Sans Pro', sans-serif;
  transition: 0.25s linear;
}

.App{
  height: 100%;
}
.appTitle{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 100px;
  color: #B9D9EB;
  line-height: 80%;
}

.modalTitle{
  padding-top: 10px;
  margin-bottom: 0;
  text-emphasis-style: none;
  font-size: 50px;
  color: #B9D9EB;
  line-height: 80%;
  font-family: 'Source Sans Pro', sans-serif;
}

iframe {
  overflow-x:hidden;
  overflow-y:hidden;
}

.appSubtitle{
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 12px;
  color: #B9D9EB;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

.footer{
  font-size: 125%;
  color: #B9D9EB;
  font-family: 'Roboto Mono', monospace;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.671s;
  opacity:1;
  padding: 1rem;
  text-align: center;
  display: auto;
}

.footer a{
  cursor: pointer;
}


.viewer{
  --scroll-track: #819DAC;
  --scroll-thumb: #456A88;
  opacity: 1;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scroll-track);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }